/ 2021-08-17
/p = classmates 
/p = right_choice_id
/img src="#{classmates[right_choice_id]["img"]}" alt=""/

/test = array_with_id[1]

/form action="/memory" method="post" 
    input type="submit" value= "#{classmates[test]["name"]}"