/ 2021-08-17
a href="/layout" Home 
p = classmates 
p = right_choice_id
img src="#{classmates[right_choice_id]["img"]}" alt=""/

form action="/memory" method="post" 
    input type="submit" value="classmate"