body {
    background-color:white;
    padding: 0;
    margin: 0;
}

header {
    background-color: rgb(212, 212, 212);
    width: 90vw;
    height: 130px;
    display: flex;
    justify-content: flex-start;
    margin-left: auto;
    margin-right: auto;
}

a{
    font-family: 'Arial';
}

h2{
    margin-left: auto;
    margin-right: auto;
    width: 650px;
    padding: 20px;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 55px;
    color: rgb(49, 49, 49);
}

header-left {
    width: 50vw;
    height: 129px;
    display: flex;
    justify-content: flex-start;
    background-color: white;
}

header-right {
    width: 50vw;
    height: 129px;
    display: flex;
    justify-content: flex-end;
    background-color: white;
}

header-left a {
    color: black;
    text-decoration: none;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 50px;
    font-size: 20px;
    letter-spacing: 2px;
}

header-left a:hover {
    color:rgb(176,7,136);
}

header-right img {
    width: 300px * 0,71484375;
    height: 300px;
    padding-right: 30px;
    margin-top: 0;
    object-fit: scale-down;
    position: relative;
    margin-top: -80px;
}

.square_content{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    display: flex;
    width: 1400px;
    background-color:rgb(70,4,83, 0.6);
}

.squares{
    height: 400px;
    width: 500px;
    margin: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-style: solid;
    border-color: white;
}

.squares a{
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 40px;
    font-weight: bolder;
    letter-spacing: 3px;
    margin: 10px;
    margin-top: 60px;
}

.button{
    width: 100px;
    height: 30px;
    padding: 10px;
    border-style:solid;
    border-color: white;
    border-radius: 3px;
    border-width: 2px;
    margin-left: 20px;
    margin-bottom: 40px;
    background-color: rgba(255, 255, 255, 0.2);
}

.button a{
    font-size: 20px;
    font-weight: normal;
    letter-spacing: normal;
    margin-left: 0;
}

#first_pic{
    background-image: url("img/tech.jpg");
}
#other_pic{
    background-image: url("img/students.jpg");
}

.student_list{
    display: flex;
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 85vw;
    background-color: rgb(70,4,83, 0.6);
}

.student_list p{
    font-family: Arial;
    font-weight: bold;
    font-size: 40px;
    margin: 30px;
    margin-top: 80px;
}

.student_content{
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 1270px;
    height: 340px;
    display: flex;
    position: relative;
}
.mugshot img{
    width: 300px;
}

.manage_students{
    display: inline-block;
    height: 250px;
}

.edit{
    height: 35px;
    width: 35px;
    padding: 20px;
}

#delete{
    height: 40px;
    width: 40px;
    padding: 20px;
}